body {
    background: rgb(187, 239, 194);
    color: rgb(242, 182, 227);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(180, 159, 245);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-color: rgb(180, 159, 245);
    border-radius: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: auto;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #638858;
}

/* main container area beneath menu */
main {
    background: rgb(231, 238, 151);
    display: flex;
    border-style: solid;
    border-color: rgb(231, 238, 151);
    border-radius: 10px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(172, 233, 176) solid;
    border-radius: 10px;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

.content h1 {
    color: rgb(242, 182, 227);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #d2d1d1;
}

#portfolio a {
    text-decoration: none;
    color: #95cb88;
}